.calendarBottomText {
  text-anchor: middle;
  fill: #333;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarTopTick {
  stroke: #e6e4e4;
}

.calendarTopText {
  text-anchor: middle;
  fill: #555;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}

.calendarHeader {
  fill: #ffffff;
  stroke: #e0e0e0;
  stroke-width: 1.4;
}

.gantt-weekend {
  fill: #eeeeee !important; /* SVGの背景が対象 */
  background-color: #eeeeee !important; /* HTML背景に備えて */
}

.weekendRect {
  fill: #f0f0f0; /* 薄いグレー背景 */
}